# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
*.uistate.json
/Backend/node_modules
/Backend/package-lock.json
/Backend/src/*.js